
.text-input-search {
  position: absolute;
  width: 250px;
  height: 38px;
  left: 648px;
  top: 162px;

  border-radius: 4px;
  border: 1px solid #dcdcdc;
  outline: 0;
}

::placeholder {
  color: #c8c8c8;
}

input[type='search'] {

color: #9E9E9E;
}

/* position: absolute;
left: 710px;
right: 32px;
top: 11.5%;
bottom: 83.5%;

/* Neutral / White */

/* background: #FFFFFF;
border: 1px solid #CDCDCD;
border-radius: 4px; */ 
