table,
th,
td {
  text-align: center;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  background-color: #ffffff;
}

th,
td {
  width: 150px;
}

table {
  margin: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  top: 120px;
  height: 20px;
}

td {
  font-size: 14px;
}

th {
  height: 50px;
  background-color: #5984bd;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}

.table-header-color {
  background-color: #5984bd;
}

.t1-funcionarios {
  position: absolute;
  width: 145px;
  height: 30px;
  left: 125px;
  top: 95px;
  font-weight: 500;
  font-size: 24px;
  color: #1c1c1c;
}

.employee-icon-profile {
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 22px;
}
